services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules

  dev:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    command: sh
    stdin_open: true
    tty: true

  test:
    build: .
    volumes:
      - .:/app
      - /app/node_modules
    command: pnpm test
